*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
   /* background-image: url(forClock.jpg);
    background-size: cover;
    background-repeat: no-repeat;*/
    background-color: rgb(38, 38, 97);
}

.classic-clock{
    position:absolute;
    height: 500px;
    width: 500px;
    border:1px solid rgb(17, 100, 9,);
    background-color: rgba(191, 187, 187, 0.3);
    border-radius: 50%;
    top:100px;
    left: 500px;
}
.clock{
    position:absolute;
    bottom: 50px;
    left: 150px;
    line-height: 30px;
    width: 200px;
    z-index:1; 
    text-align: center;
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
    
}

.any li {
    list-style-type: none;
    display: inline;
}
.digital-clock{
    display: inline-block;
    line-height: 30px;
    width:200px;
    position: relative;
    color: whitesmoke;
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
    top: 630px;
    left: 650px;
}

.anyName{
    list-style-type: none;
}
.anyName li{
    display: inline;
}
#hour-hand{
    position: absolute;
    height: 150px;
    width: 6px ;
    background-color: rgb(39, 7, 7);
    top: 100px;
    left: 247px;
    transform-origin: bottom center;
    z-index: 2;

}

#minute-hand{
    position: absolute;
    height: 200px;
    width: 4px;
    background-color: rgb(39, 7, 7);
    top: 50px;
    left: 248px;
    transform-origin: bottom center;
    z-index: 2;


}

#second-hand{
    position: absolute;
    height: 220px;
    width: 2px;
    background-color: rgb(39, 7, 7);
    top: 30px;
    left: 249px;
    transform-origin: bottom center;
    z-index: 2;
    
}